<include file="Public/common-head"/>
<include file="Public/flatui-head"/>
<body>

<div id="layout-container"  style="height:auto;" class="container">
 <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li><a href="__CONTROLLER__">物品管理</a></li>
            <li><a>选择品牌</a></li>
          </ul>
          <form class="form-horizontal" name="form1" id="form" role="form" method="post" action="__CONTROLLER__/{$action}/action/selectbrand" name="f1" enctype="multipart/form-data" enctype="multipart/form-data">
            <input name="id" value="{$item.id}" style="display:none;"/>
            <div class="form-group">
              <label class="col-md-2 col-lg-2 control-label">选择厂商</label>
              <div class="col-md-10 col-lg-10">
                <div class="btn-group">
                  <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button" id="select-btn-corp">下拉选择 <span class="caret"></span></button>
                  <ul role="menu" class="dropdown-menu">
                    <foreach name="companies" item="t">
                    <li><a onClick="javascript:selectDropDown(this,'{$t.name}','select-btn-corp');listChildren({$t.id},'brand-container');">{$t['name']}({$t.cn_name})</a></li>
                    <!--<li><a onClick="javascript:toggleElement('title');">{$t['name']}</a></li>-->
                    </foreach>
                    
                  </ul>
                </div><!-- /btn-group -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-lg-2 control-label">选择品牌</label>
              <div class="col-md-10 col-lg-10">
                <div class="btn-group" id="brand-container">
                  <select name="brand_id" class="form-control select select-danger mrs mbm">
                    <option>选择品牌</option>
                    <foreach name="brands" item="t">
                    <option value="{$t.id}"
                    <notempty name="item">
                      <eq name="t.id" value="$item.brand_id">
                        selected
                      </eq>
                    </notempty>
                    >{$t.name}|{$t.cn_name|default=''}</option>
                    </foreach>
                  </select>
                </div><!-- /btn-group -->

       
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-lg-2 control-label"></label>
              <div class="col-md-10 col-lg-10 btn-group">
              
              <notempty name="item">
                  <a type="button" href="__CONTROLLER__/edititem/id/{$item.id}" class="btn btn-large btn-info">返回编辑</a>
                  <a type="button" href="__CONTROLLER__/viewitem/id/{$item.id}" class="btn btn-large btn-danger">查看物品[{$item.name}]</a>
              </notempty>
              <button type="submit" class="btn btn-large btn-primary">下一步</button>
            </div>
            </div>
          </form><!--form ends-->
        </div><!--col ends-->
      </div><!--row ends-->
    </div><!--container ends-->


<!--container-->
 <include file="Public/flatui-tail"/>  
 <script src="/Public/js/onload.js"></script> 
   <script type="text/javascript">    
   var selectDropDown = function(selectedID,name,titleID)
    {
        
        var $target = $(selectedID);
        $("#"+titleID).html(name+"<span class='caret'></span>");
        $target.parent().children().each(function()
            {
                $(this).removeClass("active");
            }    
        );     
        $target.addClass("active");   
    }
    </script>   
 <script type="text/javascript" charset="utf-8">

var listChildren = function(id,toReplace)
{
  $.ajax({ 
    type: "post", //以post方式与后台沟通
    url: "/index.php/Home/Company/listChildren/id/"+id, //与此php页面沟通
    dataType:'json',//从php返回的值以 JSON方式 解释
    //data: param, //发给php的数据有两项，分别是上面传来的u和p
    success: function(data){
      $("#"+toReplace).html(data['view']);
      
      },
    fail:function(){$("#"+toReplace).html();}
    });

}
$(document).ready(function(){
      
        $('select').select2({dropdownCssClass: 'show-select-search'});
      });
      $('input.tagsinput').tagsinput();

</script>
</body>
</html>