<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <include file="Public/flatui-head"/>
<title>增加外观选项</title>
</head>
<body>

<include file="Public/flatui-navbar"/>
<!--图像区-->


<div class="container">
<div class="row">
 <ul class="breadcrumb">
            <li><a href="__CONTROLLER__">物品管理</a></li>
            <li><a href="__MODULE__/bestforbaby/viewitem/id/{$item.id}">查看物品</a></li>
            <li><a>新增/编辑外观选项</a></li>
 </ul>

<form method="post" id="form" action="__CONTROLLER__/{$action}" name="f1" enctype="multipart/form-data" class="form form-inline">
  <input name="id" value="{$view.id}" style="display:none;"/>

  <input name="item_id" value="{$item.id}" style="display:none;"/>
  <label for="view">输入外观描述：</label>
  <input id="view" class="form-control" name="view" placeholder="默认外观" value="{$view.view}" />
  <button type="submit" class="btn btn-primary">提交</button>
</form>
</div>
<div class="row">
 <ul class="breadcrumb">
 	<li>外观选项</li>
 	<foreach name="viewOption" item="t">
            <li><a href="__CONTROLLER__/editView/itemID/{$item.id}/viewID/{$t.id}">{$t.view|default='默认'}</a></li>
    </foreach>
  </ul>
<BR>
</div></div>
<!-- 加载编辑器的容器 --> 
 <script src="/Public/js/jquery-1.11.1.js"></script>    
   <script src="/Public/js/onload.js"></script>    
    
   <script src="/Public/js/jquery.validationEngine-zh_CN.js"></script>  
   <script src="/Public/js/jquery.validationEngine.js"></script> 
  <script type="text/javascript" charset="utf-8">
 $('#form-id').validationEngine(); 
 
        // 自定义参数调用 
        $('#form').validationEngine('attach', { 
        promptPosition: 'centerRight', 
        scroll: false,
       // ajaxFormValidation:true,
       ajaxFormValidationMethod:'post',
       // OnAjaxFormComplete:'ajaxFormValidationCallback'
       
      
          }); 

</script> 
 <include file="Public/flatui-tail" />
</body>
</html>