<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!DOCTYPE HTML>
<html manifest="msj_m.manifest">        
<meta charset="gb2312">
<title>码农私厨</title>

<script src="/Public/js/jquery-1.6.4.min.js"></script>    

<body>

<form method="post" action="__MODULE__/bestforbaby/editInstruction" name="f1">
<input name="id" value="{$item.id}" style="display:none;"/>
<input name="title" placeholder="项目" value="{$item.title}" />
<input name="item_id" style="display:none;" value="{$item.item_id}" />

<script id="container" name="content" type="text/plain">{$item.content|htmlspecialchars_decode}</script>
<button type="submit">提交</button>

</form>
 <!-- 加载编辑器的容器 -->
   
    <!-- 配置文件 -->
    <script type="text/javascript" src="/Public/js/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/Public/js/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container');
		
    </script>

</body>
 </html>