body{font-family: "microsoft yahei";}div.row .well{padding-top: 10px !important;padding-bottom: 10px;}
.selectgroup.active{background:#933;}.pre-hidden{display:none !important;}.btn.selectgroup{margin-bottom: 2px;}
.comment-star{font-size: 18px;color:grey;}.comment-star.active{color:gold;font-size: 20px;}