<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!DOCTYPE HTML>
<html manifest="msj_m.manifest">
<meta charset="gb2312">
       <!-- Loading Bootstrap -->
    
    <include file="Public/flatui-head" />
<title>码农私厨</title>

<body>
<div id="layout-container"  style="height:auto;" class="container">
 <div class="row">
        <div class="col-md-12">
          <h4><switch name="action">
                <case value="insertitem">插入数据</case>
                <case value="edititem">编辑数据</case>
                <default/>插入数据
              </switch>
          </h4>
          <form class="form-horizontal" name="form1" role="form" method="post" action="__CONTROLLER__/{$action}" enctype="multipart/form-data">
            <div class="form-group">
              <label class="col-md-2 col-lg-2 control-label">品牌</label>
              <div class="col-md-10 col-lg-10">
                <p class="form-control-static"> {$brand.cn_name|stripslashes}({$brand.name|stripslashes}) from {$corpName|stripslashes}</p>
                <p class="help-block">如需更改品牌，请<a href="__CONTROLLER__/{$action}">重新选择</a></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-lg-2 control-label">类别</label>
              <div class="col-md-10 col-lg-10">
                <p class="form-control-static">{$category.name|default='未指定'}</p>
              </div>
            </div>
            <div class="form-group" style="display:none;">
              <label for="id" class="col-lg-2 control-label">ID</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="id" placeholder="名称" name="id">
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-lg-2 control-label">名称</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="name" placeholder="名称" name="name">
              </div>
            </div>
            <div class="form-group">
              <label for="version" class="col-lg-2 control-label">版本</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="version" placeholder="版本" name="version">
              </div>
            </div>
             <div class="form-group">
              <label for="start_age" class="col-lg-2 control-label">最小使用月龄</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="version" placeholder="最小" name="start_age">
              </div>
            </div>
            <div class="form-group">
              <label for="end_age" class="col-lg-2 control-label">最大使用月龄</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="end_age" placeholder="最大" name="end_age">
              </div>
            </div>
            <div class="form-group">
              <label for="life" class="col-lg-2 control-label">保质期或使用期限</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="life" placeholder="保质期或最佳使用期限描述" name="life">
              </div>
            </div>
            <div class="form-group">
              <label for="barcode" class="col-lg-2 control-label">条形码</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="barcode" placeholder="条形码或识别码" name="barcode">
              </div>
            </div>
             <div class="form-group">
               <label for="img" class="col-lg-2 control-label">图片</label>
               <div class="input-group col-lg-10" id="img">
                  
                  <input name="img" type="text"  placeholder="图片路径" value="{$item.img}" class="form-control" disabled/>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="window.open('__CONTROLLER__/innerupload/formname/form1/editname/img','图片上传','left=300px,height=400,width=500');">上传图片</button>
                  </span>
               </div><!-- /input-group -->
             </div>
             <div class="form-group">
                <input name="thumb_img" type="text" id="thumb_img" value="{$item.thumb_img}" size="50" class="c-hidden" style="display:none"/> 
              </div>
              <div class="form-group"> 
                <label for="container" class="col-lg-2 control-label">描述</label>
                <div class="col-lg-10">
                  <script id="container" name="instruction" type="text/plain">
                    {$item.instruction}
                  </script>
                </div>
              </div>
              <button type="submit" class="btn btn-block btn-primary">提交表单</button>
      
      
          </form>
        </div><!-- /.lg-col-12 -->
      </div><!-- /.row -->
 
    
    <!-- 加载编辑器的容器 --> 
    
    <!-- 配置文件 --> 
    <script type="text/javascript" src="/Public/js/ueditor.config.js"></script> 
    <!-- 编辑器源码文件 --> 
    <script type="text/javascript" src="/Public/js/ueditor.all.js"></script> 
    <!-- 实例化编辑器 --> 
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>
   <script src="/Public/js/jquery.js"></script>    
   <script src="/Public/js/onload.js"></script>    
     <script src="/Public/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Public/js/flat-ui.min.js"></script>

    <script src="/Public/js/application.js"></script> 
   <script src="/Public/js/jquery.validationEngine-zh_CN.js"></script>  
   <script src="/Public/js/jquery.validationEngine.js"></script> 
    <!-- 配置文件 -->
    
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
       
        $('#form-id').validationEngine(); 
 
        // 自定义参数调用 
        $('#form-id').validationEngine('attach', { 
        promptPosition: 'centerRight', 
        scroll: false,
       // ajaxFormValidation:true,
       ajaxFormValidationMethod:'post',
       // OnAjaxFormComplete:'ajaxFormValidationCallback'
       
      
          }); 
        function ajaxFormValidationCallback(status,form,json,options)
        {
          //Do after the form validation
          if(status=true)
          {
            alert("whatever");
          }
          else
          {
            alert("failed");
          }
        }

    </script>
    

<!--container-->
<div>
</body>
</html>